<ion-header class="header" mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-light ion-padding-center">Touring Packge </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios"></ion-searchbar>

  <div>
    <ion-list
      button
      color="tertiary"
      lines="full"
      class="ion-no-padding"
      *ngFor="let tmp of pagkage"
    >
      <ion-card >
        <ion-card-content color="tertiary">
          <ion-card
            routerLink="/detail-tour"
            color="tertiary"
            style="text-align: center;"
            class="ion-no-padding border-radius"
          >
            <ion-img [src]="tmp.image"></ion-img>
            <ion-card-header color="tertiary">
              <ion-card-title>{{tmp.englishname}}</ion-card-title>
              <ion-card-subtitle>{{tmp.thainame}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> {{tmp.detail}} </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
