<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-menu">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="car-promotion">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>ดีล</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-booking">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label>รายการของฉัน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-account">
      <ion-icon name="person"></ion-icon>
      <ion-label>บัญชี</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
