<ion-header class="header" mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-light ion-padding-center"
      >Hotel Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar mode="ios"></ion-searchbar>

  <ion-card>
    <ion-card-content color="tertiary">
      <div class="ion-no-margin">
        <ion-card color="tertiary" class="ion-no-padding border-radius">
          <img
            src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/274006931.jpg?k=303773db63893319db96b8b840968d6f54620d9027a5fbcb9547174bdd568b7d&o=&hp=1"
          />
          <ion-card-title>Rimtalay Resort Koh Larn</ion-card-title>
            <ion-card-subtitle>ริมทะเล รีสอร์ท</ion-card-subtitle>
          <ion-card-content>
            Rimtalay Resort Koh Larn ตั้งอยู่บริเวณหาดตายายของเกาะล้าน
            ห่างจากท่าเรือหน้าบ้านไม่เกิน 900 ม. และห่างจากหาดตายาย 600 ม.
          </ion-card-content>
          <ion-button
            color="danger"
            class="ion-no-margin"
            expand="full"
            routerLink="/select-hotel"
            >เลือก</ion-button
          >
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content color="tertiary">
      <div class="ion-no-margin">
        <ion-card color="tertiary" class="ion-no-padding border-radius">
          <img
            src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/256269680.jpg?k=97edf7246251432b705ae080ff39e3f894b7579f5635b2c49e92b3ac79ea6f37&o=&hp=1"
          />
          <ion-card-title>The Castello Resort</ion-card-title>
            <ion-card-subtitle>เดอะ คาสเตลโล รีสอร์ท</ion-card-subtitle>
          <ion-card-content>
            The Castello Resort ตั้งอยู่ห่างจากหาดตาแหวน 10 นาที
            หากเดินทางโดยรถยนต์ ห่างจากท่าเรือหน้าบ้าน 400 เมตร
            และห่างจากสนามบินสุวรรณภูมิ 85 กิโลเมตร
          </ion-card-content>
          <ion-button
            color="danger"
            class="ion-no-margin"
            expand="full"
            routerLink="/select-hotel"
            >เลือก</ion-button
          >
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content color="tertiary">
      <div class="ion-no-margin">
        <ion-card color="tertiary" class="ion-no-padding border-radius">
        <img src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/274006931.jpg?k=303773db63893319db96b8b840968d6f54620d9027a5fbcb9547174bdd568b7d&o=&hp=1" />
        <ion-card-title>Homebeach Resort</ion-card-title>
            <ion-card-subtitle>โฮมบีช รีสอร์ท</ion-card-subtitle>
          <ion-card-content>
            Homebeach Resort เกาะล้านตั้งอยู่ในเกาะล้าน ห่างจากหาดทองหลาง 750 ม.
          </ion-card-content>
          <ion-button
            color="danger"
            class="ion-no-margin"
            expand="full"
            routerLink="/select-hotel"
            >เลือก</ion-button
          >
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content color="tertiary">
      <div class="ion-no-margin">
        <ion-card color="tertiary" class="ion-no-padding border-radius">
        <img src="https://pix8.agoda.net/hotelImages/1951525/-1/a9750a6c2d5cf0c30b254a788005961a.jpg?ca=8&ce=1&s=1024x768" />
        <ion-card-title>Tawaen Beach Resort</ion-card-title>
            <ion-card-subtitle>ตาแหวน บีช รีสอร์ต</ion-card-subtitle>
          <ion-card-content>
            หาดทองหลางห่างจาก Tawaen Beach Resort 450 ม. ในขณะที่หาดเทียนอยู่ห่างจากที่พัก 1.2 กม. สนามบินที่ใกล้ที่สุดคือสนามบินนานาชาติอู่ตะเภา ระยอง-พัทยา ซึ่งอยู่ห่างจากรีสอร์ท 47 กม.
          </ion-card-content>
          <ion-button
            color="danger"
            class="ion-no-margin"
            expand="full"
            routerLink="/select-hotel"
            >เลือก</ion-button
          >
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content color="tertiary">
      <div class="ion-no-margin">
        <ion-card color="tertiary" class="ion-no-padding border-radius">
        <img src="https://pix8.agoda.net/hotelImages/28133688/0/d2cc901ed61461e33e24892e79e3a981.jpg?ca=22&ce=0&s=1024x768" />
        <ion-card-title>Ma-Du-EI zen Resort</ion-card-title>
            <ion-card-subtitle>มาดูอิเซนส์ รีสอร์ต</ion-card-subtitle>
          <ion-card-content>
Ma-Du-El zen resort เป็นที่พักเกาะล้านเปิดใหม่สไตล์ญี่ปุ่น ที่มีคอนเซ็ปต์เก๋ๆ ไม่ซ้ำแบบใคร ด้วยการจำลองเอาบรรยากาศที่พักสไตล์เรียวกังแบบญี่ปุ่นแท้ๆ มาไว้บนเกาะล้าน ทั้งห้องพัก การตกแต่งและบรรยากาศ 
          </ion-card-content>
          <ion-button
            color="danger"
            class="ion-no-margin"
            expand="full"
            routerLink="/select-hotel"
            >เลือก</ion-button
          >
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
