<!-- -->
<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Check in Hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content color="tertiary">
      <div class="ion-no-margin">
        <ion-card color="tertiary" class="ion-no-padding border-radius">
          <ion-searchbar
            mode="ios"
            search-icon="location"
            placeholder="โรงแรมใกล้ฉัน"
          ></ion-searchbar>
          <ion-accordion-group color="tertiary" mode="ios">
            <ion-accordion value="start" color="tertiary">
              <ion-item slot="header" color="tertiary">
                <ion-label>วันเช็คอิน</ion-label>
                <ion-note slot="end">{{date1}}</ion-note>
              </ion-item>
              <ion-datetime
                id="datetime"
                #d1
                slot="content"
                locale="th-TH"
                (ionChange)="formatDate1(d1.value)"
                display-format="YYYY-MM-DD"
              ></ion-datetime>
            </ion-accordion>
          </ion-accordion-group>

          <ion-accordion-group color="tertiary" mode="ios">
            <ion-accordion value="start" color="tertiary">
              <ion-item slot="header" color="tertiary">
                <ion-label>วันเช็คเอาท์</ion-label>
                <ion-note slot="end">{{date2}}</ion-note>
              </ion-item>
              <ion-datetime
                id="datetime"
                #d2
                slot="content"
                locale="th-TH"
                (ionChange)="formatDate2(d2.value)"
                display-format="YYYY-MM-DD"
              ></ion-datetime>
            </ion-accordion>
          </ion-accordion-group>
          <ion-item lines="full" color="tertiary">
            <ion-label>จำนวนผู้เข้าพัก</ion-label>
            <ion-input placeholder="ระบุจำนวนผู้เข้าพัก"></ion-input>
          </ion-item>
          <ion-item lines="full" color="tertiary">
            <ion-label>จำนวนห้องที่ต้องการเช่าพัก</ion-label>
            <ion-input placeholder="ระบุจำนวนห้อง"></ion-input>
          </ion-item>
          <br>
          <ion-button
            color="danger"
            class="ion-no-margin"
            expand="full"
            routerLink="/hotel"
            >ค้นหา
          </ion-button>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
