<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Air Flight Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content color="tertiary">
      <div class="ion-no-margin border-radius">
        <ion-segment
          mode="md"
          style="
            background: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          "
          (ionChange)="segmentChanged($event)"
          value="one"
        >
          <ion-segment-button value="one">
            <ion-label> เที่ยวเดียว </ion-label>
          </ion-segment-button>
          <ion-segment-button value="two">
            <ion-label> ไป-กลับ </ion-label>
          </ion-segment-button>
        </ion-segment>

        <div
          class="animate__animated animate__slideInUp animate__fast"
          *ngIf="segment === 'one'"
        >
          <ion-list
            style="
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            "
            class="animate__animated animate__slideInUp animate__fast ion-no-padding"
          >
            <ion-item lines="full" color="tertiary">
              <ion-select
                class="ion-no-padding ion-padding-end ion-select-full"
                okText="ตกลง"
                mode="ios"
                cancelText="ยกเลิก"
                interface="action-sheet"
                placeholder="เดินทางจาก"
              >
                <ion-select-option value="BKK"
                  >ท่าอากาศยานสุวรรณภูมิ</ion-select-option
                >
                <ion-select-option value="DMK"
                  >ท่าอากาศยานดอนเมือง</ion-select-option
                >
                <ion-select-option value="Chiangrai"
                  >ท่าอากาศยานแม่ฟ้าหลวง</ion-select-option
                >
                <ion-select-option value="HGN"
                  >ท่าอากาศยานแม่ฮ่องสอน</ion-select-option
                >
                <ion-select-option value="CNX"
                  >ท่าอากาศยานเชียงใหม่</ion-select-option
                >
                <ion-select-option value="NNT"
                  >ท่าอากาศยานน่านนคร</ion-select-option
                >
                <ion-select-option value="PRH"
                  >ท่าอากาศยานแพร่</ion-select-option
                >
                <ion-select-option value="LPT"
                  >ท่าอากาศยานลำปาง</ion-select-option
                >
                <ion-select-option value="MAQ"
                  >ท่าอากาศยานแม่สอด</ion-select-option
                >
                <ion-select-option value="THS"
                  >ท่าอากาศยานสุโขทัย</ion-select-option
                >
                <ion-select-option value="PHS"
                  >ท่าอากาศยานพิษณุโลก</ion-select-option
                >
                <ion-select-option value="UTH"
                  >ท่าอากาศยานนานาชาติอุดรธานี</ion-select-option
                >
                <ion-select-option value="KOP"
                  >ท่าอากาศยานนครพนม</ion-select-option
                >
                <ion-select-option value="KKC"
                  >ท่าอากาศยานขอนแก่น</ion-select-option
                >
                <ion-select-option value="ROI"
                  >ท่าอากาศยานร้อยเอ็ด</ion-select-option
                >
              </ion-select>
            </ion-item>

            <ion-item lines="full" color="tertiary">
              <ion-select
                class="ion-no-padding ion-padding-end ion-select-full"
                okText="ตกลง"
                mode="ios"
                cancelText="ยกเลิก"
                interface="action-sheet"
                placeholder="จุดหมาย"
              >
                <ion-select-option value="tBKK"
                  >ท่าอากาศยานสุวรรณภูมิ</ion-select-option
                >
                <ion-select-option value="tDMK"
                  >ท่าอากาศยานดอนเมือง</ion-select-option
                >
                <ion-select-option value="tChiangrai"
                  >ท่าอากาศยานแม่ฟ้าหลวง</ion-select-option
                >
                <ion-select-option value="tHGN"
                  >ท่าอากาศยานแม่ฮ่องสอน</ion-select-option
                >
                <ion-select-option value="tCNX"
                  >ท่าอากาศยานเชียงใหม่</ion-select-option
                >
                <ion-select-option value="tNNT"
                  >ท่าอากาศยานน่านนคร</ion-select-option
                >
                <ion-select-option value="tPRH"
                  >ท่าอากาศยานแพร่</ion-select-option
                >
                <ion-select-option value="tLPT"
                  >ท่าอากาศยานลำปาง</ion-select-option
                >
                <ion-select-option value="tMAQ"
                  >ท่าอากาศยานแม่สอด</ion-select-option
                >
                <ion-select-option value="tTHS"
                  >ท่าอากาศยานสุโขทัย</ion-select-option
                >
                <ion-select-option value="tPHS"
                  >ท่าอากาศยานพิษณุโลก</ion-select-option
                >
                <ion-select-option value="tUTH"
                  >ท่าอากาศยานนานาชาติอุดรธานี</ion-select-option
                >
                <ion-select-option value="tKOP"
                  >ท่าอากาศยานนครพนม</ion-select-option
                >
                <ion-select-option value="tKKC"
                  >ท่าอากาศยานขอนแก่น</ion-select-option
                >
                <ion-select-option value="tROI"
                  >ท่าอากาศยานร้อยเอ็ด</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-item slot="header" color="tertiary" lines="full" mode="md">
              <ion-checkbox (click)="p0Prompt($event)" slot="start"></ion-checkbox>
              <ion-label>
                ผู้ใหญ่ (12ปีขึ้นไป)
              </ion-label>
              <ion-label slot="end">
                {{people0}} คน
              </ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="full" mode="md">
              <ion-label>
                <h3>เด็ก (2-11ปี)</h3>
              </ion-label>
              <ion-label slot="end">
                {{people1}} คน
              </ion-label>
              <ion-checkbox (click)="p1Prompt($event)"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item color="tertiary" lines="full" mode="md">
              <ion-label>
                <h3>ทารก (น้อยกว่า2ปี)</h3>
              </ion-label>
              <ion-label slot="end">
                {{people2}} คน
              </ion-label>
              <ion-checkbox (click)="p2Prompt($event)" slot="start"></ion-checkbox>
            </ion-item>

            <ion-accordion-group color="tertiary" mode="ios">
              <ion-accordion value="start" color="tertiary">
                <ion-item slot="header" color="tertiary">
                  <ion-label>วันออกเดินทาง</ion-label>
                  <ion-note slot="end">{{date0}}</ion-note>
                </ion-item>
                <ion-datetime
                  id="datetime"
                  #birth
                  slot="content"
                  locale="th-TH"
                  (ionChange)="formatDate0(birth.value)"
                  display-format="YYYY-MM-DD"
                ></ion-datetime>
              </ion-accordion>
            </ion-accordion-group>
            <ion-button
              color="danger"
              class="ion-no-margin"
              expand="full"
              routerLink="/air-oneway-ticket"
              >เลือก</ion-button
            >
          </ion-list>
        </div>

        <div
          class="animate__animated animate__slideInUp animate__fast"
          *ngIf="segment === 'two'"
        >
          <ion-list
            class="animate__animated animate__slideInUp animate__fast ion-no-padding border-radius"
          >
            <ion-item lines="full" color="tertiary">
              <ion-select
                class="ion-no-padding ion-padding-end ion-select-full"
                okText="ตกลง"
                mode="ios"
                cancelText="ยกเลิก"
                interface="action-sheet"
                placeholder="เดินทางจาก"
              >
                <ion-select-option value="BKK"
                  >ท่าอากาศยานสุวรรณภูมิ</ion-select-option
                >
                <ion-select-option value="DMK"
                  >ท่าอากาศยานดอนเมือง</ion-select-option
                >
                <ion-select-option value="Chiangrai"
                  >ท่าอากาศยานแม่ฟ้าหลวง</ion-select-option
                >
                <ion-select-option value="HGN"
                  >ท่าอากาศยานแม่ฮ่องสอน</ion-select-option
                >
                <ion-select-option value="CNX"
                  >ท่าอากาศยานเชียงใหม่</ion-select-option
                >
                <ion-select-option value="NNT"
                  >ท่าอากาศยานน่านนคร</ion-select-option
                >
                <ion-select-option value="PRH"
                  >ท่าอากาศยานแพร่</ion-select-option
                >
                <ion-select-option value="LPT"
                  >ท่าอากาศยานลำปาง</ion-select-option
                >
                <ion-select-option value="MAQ"
                  >ท่าอากาศยานแม่สอด</ion-select-option
                >
                <ion-select-option value="THS"
                  >ท่าอากาศยานสุโขทัย</ion-select-option
                >
                <ion-select-option value="PHS"
                  >ท่าอากาศยานพิษณุโลก</ion-select-option
                >
                <ion-select-option value="UTH"
                  >ท่าอากาศยานนานาชาติอุดรธานี</ion-select-option
                >
                <ion-select-option value="KOP"
                  >ท่าอากาศยานนครพนม</ion-select-option
                >
                <ion-select-option value="KKC"
                  >ท่าอากาศยานขอนแก่น</ion-select-option
                >
                <ion-select-option value="ROI"
                  >ท่าอากาศยานร้อยเอ็ด</ion-select-option
                >
              </ion-select>
            </ion-item>

            <ion-item lines="full" color="tertiary">
              <ion-select
                class="ion-no-padding ion-padding-end ion-select-full"
                okText="ตกลง"
                mode="ios"
                cancelText="ยกเลิก"
                interface="action-sheet"
                placeholder="จุดหมาย"
              >
                <ion-select-option value="tBKK"
                  >ท่าอากาศยานสุวรรณภูมิ</ion-select-option
                >
                <ion-select-option value="tDMK"
                  >ท่าอากาศยานดอนเมือง</ion-select-option
                >
                <ion-select-option value="tChiangrai"
                  >ท่าอากาศยานแม่ฟ้าหลวง</ion-select-option
                >
                <ion-select-option value="tHGN"
                  >ท่าอากาศยานแม่ฮ่องสอน</ion-select-option
                >
                <ion-select-option value="tCNX"
                  >ท่าอากาศยานเชียงใหม่</ion-select-option
                >
                <ion-select-option value="tNNT"
                  >ท่าอากาศยานน่านนคร</ion-select-option
                >
                <ion-select-option value="tPRH"
                  >ท่าอากาศยานแพร่</ion-select-option
                >
                <ion-select-option value="tLPT"
                  >ท่าอากาศยานลำปาง</ion-select-option
                >
                <ion-select-option value="tMAQ"
                  >ท่าอากาศยานแม่สอด</ion-select-option
                >
                <ion-select-option value="tTHS"
                  >ท่าอากาศยานสุโขทัย</ion-select-option
                >
                <ion-select-option value="tPHS"
                  >ท่าอากาศยานพิษณุโลก</ion-select-option
                >
                <ion-select-option value="tUTH"
                  >ท่าอากาศยานนานาชาติอุดรธานี</ion-select-option
                >
                <ion-select-option value="tKOP"
                  >ท่าอากาศยานนครพนม</ion-select-option
                >
                <ion-select-option value="tKKC"
                  >ท่าอากาศยานขอนแก่น</ion-select-option
                >
                <ion-select-option value="tROI"
                  >ท่าอากาศยานร้อยเอ็ด</ion-select-option
                >
              </ion-select>
            </ion-item>

            <ion-item color="tertiary" lines="full" mode="md">
              <ion-label>
                <h3>ผู้ใหญ่ (12ปีขึ้นไป)</h3>
              </ion-label>
              <ion-label slot="end">
                5 คน
              </ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item color="tertiary" lines="full" mode="md">
              <ion-label>
                <h3>เด็ก (2-11ปี)</h3>
              </ion-label>
              <ion-label slot="end">
                5 คน
              </ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item color="tertiary" lines="full" mode="md">
              <ion-label>
                <h3>ทารก (น้อยกว่า2ปี)</h3>
              </ion-label>
              <ion-label slot="end">
                5 คน
              </ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>

            <ion-accordion-group color="tertiary" mode="ios">
              <ion-accordion value="start" color="tertiary">
                <ion-item slot="header" color="tertiary">
                  <ion-label>วันออกเดินทาง</ion-label>
                  <ion-note slot="end">{{date1}}</ion-note>
                </ion-item>
                <ion-datetime
                  id="datetime"
                  #d1
                  slot="content"
                  locale="th-TH"
                  (ionChange)="formatDate1(d1.value)"
                  display-format="YYYY-MM-DD"
                ></ion-datetime>
              </ion-accordion>
            </ion-accordion-group>

            <ion-accordion-group color="tertiary" mode="ios">
              <ion-accordion value="start" color="tertiary">
                <ion-item slot="header" color="tertiary">
                  <ion-label>วันเดินทางกลับ</ion-label>
                  <ion-note slot="end">{{date2}}</ion-note>
                </ion-item>
                <ion-datetime
                  id="datetime"
                  #d2
                  slot="content"
                  locale="th-TH"
                  (ionChange)="formatDate2(d2.value)"
                  display-format="YYYY-MM-DD"
                ></ion-datetime>
              </ion-accordion>
            </ion-accordion-group>
            <ion-button
              color="danger"
              class="ion-no-margin"
              expand="full"
              routerLink="/air-twoway-ticket-outbound"
              >เลือก</ion-button
            >
          </ion-list>
          <br />
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
